In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
file = pd.read_csv('ABT.csv')
df = pd.DataFrame(file)

In [5]:
def change_period(new_time, df):
    tam = new_time
    i=0
    stocks = []
    first = 0
    while i < (len(df)/tam):
        nf = df[first:new_time]
        stock = { 'date':   nf[nf.columns[0]][first],     'timestamp': nf[nf.columns[1]][first],
                  'ticker': nf[nf.columns[2]][first],     'open': nf[nf.columns[3]][first], 
                  'high': nf[nf.columns[4]].max(),        'low': nf[nf.columns[5]].min(),
                  'close': nf[nf.columns[6]][new_time-1], 'volume': nf[nf.columns[7]].sum(),
                  'quantity': nf[nf.columns[8]].sum(),    'tradecount': nf[nf.columns[9]].sum() }
        stocks.append(stock)
    
        first = first + tam
        new_time = new_time + tam
        i = i + 1
    
    if (len(df)%tam) != 0:
        first = len(df)-(len(df)%tam)
        new_time = len(df)
        nf = df[first:new_time]
        stock = { 'date':   nf[nf.columns[0]][first],     'timestamp': nf[nf.columns[1]][first],
                  'ticker': nf[nf.columns[2]][first],     'open': nf[nf.columns[3]][first], 
                  'high': nf[nf.columns[4]].max(),        'low': nf[nf.columns[5]].min(),
                  'close': nf[nf.columns[6]][new_time-1], 'volume': nf[nf.columns[7]].sum(),
                  'quantity': nf[nf.columns[8]].sum(),    'tradecount': nf[nf.columns[9]].sum() }
        stocks.append(stock)
    df_stocks = pd.DataFrame(stocks,columns=['date',     'timestamp', 'ticker', 'open',
                                             'high',     'low',       'close',  'volume', 
                                             'quantity', 'tradecount'])
    return df_stocks

In [8]:
def csv_to_df(ticker):
  file = pd.read_csv(ticker+'.csv')
  df = pd.DataFrame(file)
  return df

In [9]:
def limit_df(first, last, df):
  date = df[df.columns[0]]
  df = df[(date>=first_date)&(date<=last_date)]
  return df

In [10]:
def create_df_returns(first_date, last_date, ticker_list):
  nf = pd.DataFrame() #df vacio
  df = csv_to_df(ticker_list[0]) #obtenemos el df apartir del csv
  df = limit_df(first_date, last_date, df) #funcion que obtiene un nuevo df apartir de dos fechas y un df
  nf['date'] = df[df.columns[0]]
  for ticker in ticker_list:
    df = csv_to_df(ticker)
    df = limit_df(first_date, last_date, df)
    nf[ticker] = df[df.columns[6]]
  return nf.reset_index()

In [11]:
ticker_list = ['ABT','CVX']
first_date = '2018-01-09'
last_date = '2018-01-14'
close_df = create_df_returns(first_date, last_date, ticker_list)

In [12]:
cl = close_df[close_df.columns[2:4]]
cl

     ABT     CVX
0  58.76  127.88
1  58.78  127.86
2  58.83  127.72
3  58.89  127.88
4  58.91  127.83
5  58.87  127.65

In [13]:
mat =np.log(cl/cl.shift(1))
mat

        ABT       CVX
0       NaN       NaN
1  0.000340 -0.000156
2  0.000850 -0.001096
3  0.001019  0.001252
4  0.000340 -0.000391
5 -0.000679 -0.001409

In [14]:
pd.DataFrame(np.cov(mat[1:]))

              0             1             2             3             4
0  1.233647e-07  4.832613e-07 -5.776545e-08  1.814579e-07  1.812725e-07
1  4.832613e-07  1.893099e-06 -2.262869e-07  7.108322e-07  7.101059e-07
2 -5.776545e-08 -2.262869e-07  2.704865e-08 -8.496759e-08 -8.488076e-08
3  1.814579e-07  7.108322e-07 -8.496759e-08  2.669076e-07  2.666349e-07
4  1.812725e-07  7.101059e-07 -8.488076e-08  2.666349e-07  2.663624e-07