In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from os import listdir, mkdir, path

In [2]:
def df_sharpe_ratio(df):    
    X = np.log(df/df.shift(1))
    X = X[1:]
    Hourly_AvgLnRtn = np.mean(X)
    Hourly_Std = np.std(X)
    SharpeRatio = (Hourly_AvgLnRtn/Hourly_Std)*np.sqrt(252*22)
    threshold = 1
    one_sharpe_ratio =SharpeRatio[SharpeRatio >= threshold]

    return one_sharpe_ratio
    
def change_period(new_time, df):
    tam = new_time
    i=0
    stocks = []
    first = 0
    while i < (len(df)//tam):
        nf = df[first:new_time]
        stock = { 'Date':   nf[nf.columns[1]][first],          'Timestamp': nf[nf.columns[2]][first],
                  'Ticker': nf[nf.columns[3]][first],          'OpenPrice': nf[nf.columns[4]][first], 
                  'HighPrice': nf[nf.columns[5]].max(),        'LowPrice': nf[nf.columns[6]].min(),
                  'ClosePrice': nf[nf.columns[7]][new_time-1], 'TotalVolume': nf[nf.columns[8]].sum(),
                  'TotalQuantity': nf[nf.columns[9]].sum(),    'TotalTradeCount': nf[nf.columns[10]].sum() }
        stocks.append(stock)
    
        first = first + tam
        new_time = new_time + tam
        i = i + 1
    
    if (len(df)%tam) != 0:
        first = len(df)-(len(df)%tam)
        new_time = len(df)
        nf = df[first:new_time]
        stock = { 'Date':   nf[nf.columns[1]][first],          'Timestamp': nf[nf.columns[2]][first],
                  'Ticker': nf[nf.columns[3]][first],          'OpenPrice': nf[nf.columns[4]][first], 
                  'HighPrice': nf[nf.columns[5]].max(),        'LowPrice': nf[nf.columns[6]].min(),
                  'ClosePrice': nf[nf.columns[7]][new_time-1], 'TotalVolume': nf[nf.columns[8]].sum(),
                  'TotalQuantity': nf[nf.columns[9]].sum(),    'TotalTradeCount': nf[nf.columns[10]].sum() }
        stocks.append(stock)
    df_stocks = pd.DataFrame(stocks,columns=['Date',          'Timestamp',     'Ticker',     'OpenPrice',
                                             'HighPrice',     'LowPrice',      'ClosePrice', 'TotalVolume', 
                                             'TotalQuantity', 'TotalTradeCount'])
    #df_stocks.columns()
    return df_stocks

def csv_to_df(ticker):
    file = pd.read_csv('./emisoras/2018-limpio-1/'+ticker)
    df = pd.DataFrame(file)
    return df

def csv_to_df_DB(ticker):
    file = pd.read_csv('./emisoras/2018-limpio/'+ticker)
    df = pd.DataFrame(file)
    return df

def limit_df(first, last, df):
    date = df[df.columns[0]]
    df = df[(date>=first_date)&(date<=last_date)]
    return df.reset_index()

def create_df_returns(first_date, last_date, ticker_list, period):
    nf = pd.DataFrame() #df vacio
    df = csv_to_df(ticker_list[0]) #obtenemos el df apartir del csv
    df = limit_df(first_date, last_date, df) #funcion que obtiene un nuevo df apartir de dos fechas y un df
    df = change_period(period, df)
    nf['Date'] = df[df.columns[0]]
    for ticker in ticker_list:
      df = csv_to_df(ticker)
      df = limit_df(first_date, last_date, df)
      df = change_period(period, df)
      nf[ticker] = df[df.columns[6]]
    return nf.reset_index()

#obtener el nombre de los archivos
def ls(pwd): 
    return listdir(pwd)

def get_columns(df,columns):
    nf = pd.DataFrame()
    for column in columns:
        nf[column] = df[column]
    return nf

def create_df_p(first_date, last_date, ticker_list, 
                period, columns= ['Date',          'Timestamp',      'Ticker',      'OpenPrice',
                                  'HighPrice',     'LowPrice',       'ClosePrice',  'TotalVolume', 
                                  'TotalQuantity', 'TotalTradeCount'], 
                folder="./emisoras/filtrados/2018/"):
 
    if not (path.isdir(folder)):
        mkdir( folder );
    for ticker in ticker_list:
        df = csv_to_df(ticker)
        df = limit_df(first_date, last_date, df)
        df = change_period(period, df)
        df = get_columns(df,columns)
        df.to_csv(folder+ticker, encoding='utf-8', index=False)
    return df

def create_csv_dollar_bars(first_date, last_date, ticker_list, total_volume,
                          columns= ['OpenPrice','HighPrice','LowPrice','ClosePrice'], 
                          folder="./emisoras/dollar_bars/2018/"):
 
    if not (path.isdir(folder)):
        mkdir( folder );
    for ticker in ticker_list:
        df = csv_to_df_DB(ticker)
        df = limit_df(first_date, last_date, df)
        df = get_df_dollar_bars(df,total_volume)
        df = get_columns(df,columns)
        df.to_csv(folder+ticker, encoding='utf-8', index=False)
    return df

In [3]:
def get_df_dollar_bars(df,total_volume):
    bars = []
    volume = 0
    first_index = 0
    for row in df.itertuples():
        volume = volume + row[9]
        if volume >= total_volume:
            nf = df[first_index:row.Index+1]
            stock = { 'OpenPrice': nf[nf.columns[4]][first_index], 'HighPrice': nf[nf.columns[5]].max(), 
                      'LowPrice': nf[nf.columns[6]].min(),   'ClosePrice': nf[nf.columns[7]][row.Index] }
            bars.append(stock)
            first_index=row.Index+1
            
            volume = 0
            
    df_stocks = pd.DataFrame(bars,columns=['OpenPrice', 'HighPrice', 'LowPrice', 'ClosePrice'])        
                 
    return df_stocks

In [7]:
#Obtenemos la lista de emisoras disponibles
ticker_list = ls('./emisoras/2018-limpio/')

In [8]:
#En esta parte del codigo se cambia el rango de fechas y el periodo
ticker_list = ['BHR.csv']
first_date = 20180102
last_date = 20180501
period = 1
total_volume = 1000000
columns = ['Timestamp','OpenPrice','LowPrice']
folder="./emisoras/filtrados/2018/"

#create_csv_dollar_bars(first_date, last_date, ticker_list, total_volume)
close_df = create_df_p(first_date, last_date, ticker_list, period)

In [13]:
close_df[385:412]

,Date,Timestamp,Ticker,OpenPrice,HighPrice,LowPrice,ClosePrice,TotalVolume,TotalQuantity,TotalTradeCount
385,20180424,15:55:00,BHR,10.62,10.63,10.62,10.62,109959.36,10353,65
386,20180424,15:56:00,BHR,10.62,10.63,10.61,10.62,109406.00,10300,71
387,20180424,15:57:00,BHR,10.62,10.62,10.62,10.62,7430.50,700,6
388,20180424,15:58:00,BHR,10.62,10.62,10.61,10.62,6368.00,600,6
389,20180424,15:59:00,BHR,10.62,10.65,10.52,10.57,236368.20,22337,96
390,20180424,16:00:00,BHR,10.57,10.57,10.53,10.54,45607.87,4325,21
391,20180425,09:32:00,BHR,10.50,10.50,10.46,10.47,74879.50,7133,7
392,20180425,09:33:00,BHR,10.53,10.53,10.47,10.53,7826.15,745,7
393,20180425,09:34:00,BHR,10.54,10.54,10.54,10.54,2108.00,200,2
394,20180425,09:35:00,BHR,10.52,10.52,10.52,10.52,1052.00,100,1
395,20180425,09:36:00,BHR,10.58,10.58,10.58,10.58,1058.00,100,1
396,20180425,09:37:00,BHR,10.58,10.58,10.58,10.58,0.00,0,0
397,20180425,09:38:00,BHR,10.51,10.58,10.51,10.53,3162.00,300,3
398,20180425,09:39:00,BHR,10.51,10.58,10.51,10.53,0.00,0,0
399,20180425,09:40:00,BHR,10.56,10.56,10.55,10.55,25322.00,2400,10
400,20180425,09:41:00,BHR,10.56,10.56,10.55,10.55,0.00,0,0
401,20180425,09:42:00,BHR,10.56,10.56,10.56,10.56,1056.00,100,1
402,20180425,09:43:00,BHR,10.56,10.56,10.56,10.56,0.00,0,0
403,20180425,09:44:00,BHR,10.56,10.56,10.56,10.56,0.00,0,0
404,20180425,09:45:00,BHR,10.56,10.56,10.56,10.56,0.00,0,0
405,20180425,09:46:00,BHR,10.56,10.56,10.56,10.56,0.00,0,0
406,20180425,09:47:00,BHR,10.51,10.53,10.50,10.50,19986.80,1900,7
407,20180425,09:48:00,BHR,10.51,10.53,10.50,10.50,0.00,0,0
408,20180425,09:49:00,BHR,10.51,10.53,10.50,10.50,0.00,0,0
409,20180425,09:50:00,BHR,10.51,10.53,10.50,10.50,0.00,0,0
410,20180425,09:51:00,BHR,10.51,10.53,10.50,10.50,0.00,0,0
411,20180425,09:52:00,BHR,10.51,10.53,10.50,10.50,0.00,0,0